@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

@layer base {

  html,body {
    @apply h-full ;
  }
  
  body {
    @apply overflow-y-scroll pt-20;
  }

  textarea {
    @apply resize-none;
  }
 
    /* 스크롤 관련 | firefox X */

  ::-webkit-scrollbar {
      @apply w-[13px] h-[13px] 
    }

  ::-webkit-scrollbar-thumb {
    @apply rounded-xl border-[5px] border-solid border-base-100 bg-base-content/10 
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-base-content/30
  }

  p,span,div,li,textarea,input {
    @apply text-pretty;
  }

}


@layer utilities {

}

